* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

/*  SECTIONS  */
.break {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 3.5%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING CONTENT  */
.row {
  max-width: 75%;
  margin: 0 auto; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.col-width-full {
  width: 100%; }

.col-width-3quarters {
  width: 74.12%; }

.col-width-2thirds {
  width: 65.5%; }

.col-width-half {
  width: 48.25%; }

.col-width-third {
  width: 31%; }

.col-width-quarter {
  width: 22.37%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1024px) {
  .row {
    max-width: 80%; } }
@media only screen and (max-width: 480px) {
  .col {
    margin: 5% 0 2% 0%; }

  .col-width-quarter, .col-width-third,
  .col-width-half, .col-width-2thirds,
  .col-width-3quarters, .col-width-full {
    width: 100%; } }
header {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-image: url(img/hero-min.jpg);
  /*For Browsers with no Support ofr linear-gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(img/hero-min.jpg);
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/hero-min.jpg);
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/hero-min.jpg);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/hero-min.jpg);
  /* For Firefox 3.6 to 15 */
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/hero-min.jpg);
  /*For IE 10>*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/hero-min.jpg);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr= 'rgba(0, 0, 0, 0.75)', endColorStr= 'rgba(0, 0, 0, 0.75)', GradientType=0);
  /*For IE 7*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr= 'rgba(0, 0, 0, 0.75)', endColorStr= 'rgba(0, 0, 0, 0.75)', GradientType=0)";
  /*For IE 8*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  header nav {
    height: 15%;
    width: 100%;
    margin-top: 5%;
    color: #ecf0f1; }
  header .heading-container {
    position: absolute;
    top: 45%;
    left: 0;
    padding: 0 10%; }
    header .heading-container h1 {
      margin: 0;
      padding: 0;
      font-size: 500%;
      font-weight: 100;
      color: #ecf0f1;
      text-align: left;
      word-spacing: 5px; }
    header .heading-container .button-nav .button:link,
    header .heading-container .button-nav .button:active {
      font-size: 150%;
      margin: 1.5% 25px 0 0;
      border-radius: 15px; }

.button:link,
.button:visited {
  display: inline-block;
  color: #ecf0f1;
  padding: 10px 15px;
  border: 1px solid #27ae60; }

.buttonA:link,
.buttonA:visited {
  background-color: #27ae60;
  transition: all 0.2s; }

.buttonA:hover,
.buttonA:active {
  background-color: #16a085;
  border-color: #16a085; }

.buttonB:link,
.buttonB:visited {
  color: #27ae60;
  transition: all 0.2s; }

.buttonB:hover,
.buttonB:active {
  color: #ecf0f1;
  border-color: #16a085;
  background-color: #16a085; }

.navigation {
  list-style: none;
  text-align: right;
  margin-right: 10%;
  position: relative; }

span.sm-nav-btn {
  margin-top: 2%;
  padding-bottom: 1.5%;
  display: inline-block;
  color: #ecf0f1;
  display: none; }

.nav-buttons {
  list-style: none;
  margin-top: 2%; }
  .nav-buttons li {
    float: right; }
  .nav-buttons a:link,
  .nav-buttons a:visited {
    display: inline-block;
    color: #ecf0f1;
    font-size: 140%;
    padding: 0 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s; }
  .nav-buttons a:hover,
  .nav-buttons a:active {
    border-bottom: 2px solid #27ae60; }

.logo {
  display: inline-block;
  margin-left: 10%;
  height: 100%;
  float: left;
  vertical-align: middle; }

.logo-black {
  display: none; }

.sticky-nav {
  position: fixed;
  background-color: white;
  z-index: 999;
  color: black;
  padding-top: 0;
  margin-top: 0;
  height: 10%;
  top: 0;
  border-bottom: 2px solid LightGrey; }
  .sticky-nav .navigation a {
    color: black; }
  .sticky-nav .navigation span {
    color: black; }
  .sticky-nav .logo-black {
    display: inline-block; }
  .sticky-nav .logo-white {
    display: none; }

header nav .main-nav a.dropDownBtn {
  display: none; }

@media only screen and (max-width: 1023px) {
  .sticky-nav {
    height: 7.5%; }

  header nav .main-nav a:link,
  header nav .main-nav a:visited {
    font-size: 125%; } }
@media only screen and (max-width: 865px) {
  span.sm-nav-btn {
    display: block; }

  .nav-buttons {
    display: none;
    position: absolute;
    right: -10%;
    top: 60%; }
    .nav-buttons li {
      background-color: white;
      float: none;
      text-align: center; }
    .nav-buttons a:link,
    .nav-buttons a:visited {
      color: black;
      margin-bottom: 5px;
      font-size: 140%;
      padding: 0 20px;
      padding-bottom: 10px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.2s; }
    .nav-buttons a:hover,
    .nav-buttons a:active {
      border-bottom: 2px solid #27ae60; } }
.drop-down:hover .nav-buttons {
  display: block; }

@media only screen and (max-width: 767px) {
  header .heading-container h1 {
    font-size: 350%; }

  header .heading-container {
    top: 35%; } }
@media only screen and (max-height: 415px) {
  header .heading-container {
    top: 45%; }

  header .heading-container h1 {
    font-size: 250%; } }
.features-section {
  text-rendering: optimizeLegibility;
  color: #525252; }
  .features-section .title p {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 125%;
    text-align: justify, center;
    padding: 3.5% 0 5% 0;
    line-height: 175%; }
  .features-section .icon-container {
    width: 64px;
    margin: auto; }
    .features-section .icon-container span {
      color: #27ae60; }
  .features-section .col h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    text-align: center; }
  .features-section .col p {
    font-family: 'Open Sans', sans-serif;
    font-size: 105%;
    text-align: center;
    color: #777;
    line-height: 150%; }

.jsFeaturesWP {
  opacity: 0; }

.jsFeaturesWP.animated {
  opacity: 1; }

.gallery-section {
  margin: 5% 0 0 0;
  padding: 0; }
  .gallery-section ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0; }
    .gallery-section ul li {
      width: 25%;
      display: block;
      float: left; }
      .gallery-section ul li figure {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: black;
        overflow: hidden;
        position: relative;
        display: block; }
        .gallery-section ul li figure img {
          width: 100%;
          transform: scale(1.2);
          opacity: 0.7;
          transition: all 0.8s; }
        .gallery-section ul li figure figcaption {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: -100%;
          left: 0%;
          color: #ecf0f1;
          font-family: 'Raleway', sans-serif;
          font-weight: 300;
          font-size: 115%;
          padding: 1% 1%;
          background-color: rgba(0, 0, 0, 0.6);
          transition: all 0.8s;
          text-align: center; }
      .gallery-section ul li figure:hover img {
        opacity: 1;
        transform: scale(1.05); }
      .gallery-section ul li figure:hover figcaption {
        bottom: 0; }

.how-section {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #f7f3ed; }
  .how-section .screen-split {
    padding-bottom: 5%; }
    .how-section .screen-split .left-split {
      width: 55%;
      margin: 0;
      margin-top: 6%;
      margin-left: 12.5%;
      float: left; }
      .how-section .screen-split .left-split .app-container {
        text-align: center;
        margin-top: 5%; }
        .how-section .screen-split .left-split .app-container a {
          display: inline-block; }
          .how-section .screen-split .left-split .app-container a img {
            height: 50px;
            width: auto; }
      .how-section .screen-split .left-split ul {
        margin: 0;
        list-style: none; }
        .how-section .screen-split .left-split ul li {
          display: block;
          padding: 2% 0; }
          .how-section .screen-split .left-split ul li span {
            margin-right: 5%;
            display: inline-block;
            width: 75px;
            height: 75px;
            text-align: center;
            font-size: 225%;
            font-weight: 100;
            color: #27ae60;
            border: 2px solid #27ae60;
            float: left;
            font-family: 'Open Sans', sans-serif;
            line-height: 185%;
            border-radius: 50%; }
          .how-section .screen-split .left-split ul li p {
            width: 80%;
            display: block;
            float: left;
            font-size: 150%;
            padding: 1.5% 0; }
          @media only screen and (max-width: 767px) {
            .how-section .screen-split .left-split ul li span {
              width: 50px;
              height: 50px;
              line-height: 150%;
              clear: both;
              margin-right: 2.5%; } }
    @media only screen and (max-width: 767px) {
      .how-section .screen-split .left-split {
        width: 100%;
        margin-left: 0; } }
    .how-section .screen-split .right-split {
      margin-top: 2%;
      width: 20%;
      float: left; }
      .how-section .screen-split .right-split img {
        width: 100%; }
    @media only screen and (max-width: 767px) {
      .how-section .screen-split .right-split {
        display: none; } }

.jsHowToLeft,
.jsHowToRight {
  opacity: 0; }

.jsHowToLeft.animated,
.jsHowToRight.animated {
  opacity: 1; }

.location-section {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5%; }
  .location-section .city-div {
    margin-top: 3.5%; }
    .location-section .city-div figure {
      margin: 0;
      margin-bottom: 7%;
      padding: 0;
      border: 1.5px solid #d2d2d2;
      line-height: 0; }
      .location-section .city-div figure img {
        width: 100%; }
    .location-section .city-div figcaption {
      font-size: 135%;
      margin: 0;
      margin-bottom: 2%;
      padding: 0;
      text-transform: uppercase; }
    .location-section .city-div ul {
      list-style: none; }
      .location-section .city-div ul li {
        padding: 1% 1%; }
        .location-section .city-div ul li a:link,
        .location-section .city-div ul li a:visited {
          text-decoration: none;
          color: #27ae60; }
          .location-section .city-div ul li a:link span,
          .location-section .city-div ul li a:visited span {
            margin-right: 2.5%;
            color: #27ae60; }
          .location-section .city-div ul li a:link p,
          .location-section .city-div ul li a:visited p {
            display: inline-block;
            padding-bottom: 1%;
            border-bottom: 1px solid #27ae60; }
        .location-section .city-div ul li a:hover,
        .location-section .city-div ul li a:active {
          color: #00aced; }
          .location-section .city-div ul li a:hover span,
          .location-section .city-div ul li a:active span {
            color: #00aced; }
          .location-section .city-div ul li a:hover p,
          .location-section .city-div ul li a:active p {
            border-bottom: 1px dashed #00aced; }
        .location-section .city-div ul li p {
          font-size: 115%; }
          .location-section .city-div ul li p span {
            display: inline-block;
            margin-right: 2.5%;
            color: #27ae60;
            border-bottom: none; }

.jsLocationWP {
  opacity: 0; }

.jsLocationWP.animated {
  opacity: 1; }

.review-section {
  background-image: url(img/back-customers-min.jpg);
  /*For Browsers with no Support ofr linear-gradient*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/back-customers-min.jpg);
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  /* For Firefox 3.6 to 15 */
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  /*For IE 10>*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr= 'rgba(0, 0, 0, 0.7)', endColorStr= 'rgba(0, 0, 0, 0.7)', GradientType=0);
  /*For IE 7*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr= 'rgba(0, 0, 0, 0.7)', endColorStr= 'rgba(0, 0, 0, 0.7)', GradientType=0)";
  /*For IE 8*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 7.5%; }
  .review-section .title {
    color: #ecf0f1; }
  .review-section .comment-container {
    margin: auto;
    margin-top: 3.5%; }
    .review-section .comment-container blockquote {
      color: #ecf0f1;
      font-family: 'Open Sans', sans-serif;
      font-size: 105%;
      font-style: italic;
      font-weight: 300;
      line-height: 145%; }
      .review-section .comment-container blockquote cite {
        display: block;
        margin-top: 7.5%;
        font-style: normal; }
        .review-section .comment-container blockquote cite img {
          vertical-align: middle;
          margin-right: 2.5%;
          height: 74px;
          border: 1px solid transparent;
          border-radius: 50%; }
    .review-section .comment-container blockquote::first-letter {
      font-size: 175%; }

.title {
  text-align: center;
  color: #525252; }
  .title h1 {
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display: inline-block;
    font-size: 250%;
    text-transform: uppercase;
    padding: 10% 0 3.5% 0;
    border-bottom: 2px solid #16a085; }

.plans-section {
  background-color: #f7f3ed;
  padding-bottom: 5%; }
  .plans-section .plan-container {
    margin-top: 3.5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }
    .plans-section .plan-container .col {
      background-color: white;
      padding: 1.5%; }
      .plans-section .plan-container .col ul {
        list-style: none;
        padding-top: 2.5%;
        border-bottom: 2px solid #f7f3ed;
        padding-bottom: 2.5%; }
        .plans-section .plan-container .col ul li {
          font-weight: 300;
          font-size: 110%;
          padding: 2.5% 0 2.5% 2.5%; }
          .plans-section .plan-container .col ul li span {
            color: #27ae60;
            padding-right: 5%; }
    .plans-section .plan-container .plan-header {
      padding-bottom: 5%;
      border-bottom: 2px solid #f7f3ed; }
      .plans-section .plan-container .plan-header h1 {
        text-rendering: optimizeLegibility;
        margin: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 175%;
        text-transform: uppercase; }
      .plans-section .plan-container .plan-header p.price {
        text-align: center;
        color: #27ae60; }
        .plans-section .plan-container .plan-header p.price span {
          font-size: 350%; }
      .plans-section .plan-container .plan-header p.deal {
        text-align: center;
        margin-top: 1%; }
    .plans-section .plan-container .btn-div {
      margin-top: 5%;
      width: 100%;
      text-align: center; }
      .plans-section .plan-container .btn-div a {
        margin: 1.5% 0;
        border-radius: 15px; }

.contact-section {
  margin-bottom: 3.5%; }
  .contact-section form {
    font-family: 'Open Sans', sans-serif; }
    .contact-section form .label-container {
      text-align: right;
      font-size: 120%; }
    .contact-section form input[type=text],
    .contact-section form input[type=email],
    .contact-section form textarea {
      width: 70%;
      font-size: 120%; }
    @media only screen and (max-width: 767px) {
      .contact-section form input[type=text],
      .contact-section form input[type=email],
      .contact-section form textarea {
        width: 100%; } }
    .contact-section form .submit-btn {
      text-align: center; }
      .contact-section form .submit-btn input[type=submit] {
        box-shadow: none;
        display: inline-block;
        color: #ecf0f1;
        padding: 10px 15px;
        font-size: 120%;
        border: 1px solid #27ae60;
        border-radius: 15px;
        background-color: #27ae60;
        transition: all 0.2s;
        margin-top: 1.5%;
        cursor: pointer; }
      .contact-section form .submit-btn input[type=submit]:hover {
        box-shadow: none;
        background-color: #16a085;
        border-color: #16a085; }

footer {
  background-color: #2d2d2d;
  padding-top: 2.5%;
  padding-bottom: 2.5%; }
  footer .disclaimer-container {
    padding-top: 2.5%;
    text-align: center;
    color: #787878; }
    footer .disclaimer-container em {
      font-size: 120%;
      color: #b4b4b4; }
  footer .footer-nav {
    float: left;
    list-style: none;
    width: 50%; }
    footer .footer-nav li {
      display: inline-block;
      margin-right: 5%;
      padding-top: 12px; }
      footer .footer-nav li a:link,
      footer .footer-nav li a:visited {
        display: inline-block;
        color: #a0a0a0; }
      footer .footer-nav li a:hover,
      footer .footer-nav li a:active {
        color: #ebebeb; }
    footer .footer-nav li:last-child {
      margin: 0; }
  footer .icon-nav {
    float: right;
    list-style: none;
    width: 50%;
    text-align: right; }
    footer .icon-nav li {
      display: inline-block;
      margin-left: 5%; }
      footer .icon-nav li a:link,
      footer .icon-nav li a:visited {
        color: #a0a0a0; }
    footer .icon-nav .fa-facebook-official:hover {
      color: #3b5998; }
    footer .icon-nav .fa-twitter:hover {
      color: #55acee; }
    footer .icon-nav .fa-google-plus-official:hover {
      color: #dd4b39; }
    footer .icon-nav .fa-instagram:hover {
      color: #e95950; }

@media only screen and (max-width: 1024px) {
  body {
    font-size: 15px; } }
@media only screen and (max-width: 1023px) {
  body {
    font-size: 14px; } }
@media only screen and (max-width: 767px) {
  body {
    font-size: 13px; } }
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px; }

  .contact-section form .label-container {
    text-align: left; } }

/*# sourceMappingURL=master.css.map */
