* {
  margin: 0;
  padding: 0; }

body {
  font-size: 20px;
  background-color: #ecf0f1; }

/*  SECTIONS  */
.break {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 3.5%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING CONTENT  */
.row {
  max-width: 75%;
  margin: 0 auto; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.col-width-full {
  width: 100%; }

.col-width-3quarters {
  width: 74.12%; }

.col-width-2thirds {
  width: 65.5%; }

.col-width-half {
  width: 48.25%; }

.col-width-third {
  width: 31%; }

.col-width-quarter {
  width: 22.37%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1024px) {
  .row {
    max-width: 80%; } }
@media only screen and (max-width: 480px) {
  .col {
    margin: 5% 0 2% 0%; }

  .col-width-quarter, .col-width-third,
  .col-width-half, .col-width-2thirds,
  .col-width-3quarters, .col-width-full {
    width: 100%; } }
.sticky-nav {
  background-image: linear-gradient(to right, #036596, #0d94d8);
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }
  .sticky-nav ul li {
    float: left;
    list-style: none; }

.drop-down-btn {
  position: relative; }

.drop-down-menu {
  position: absolute;
  display: none;
  z-index: 999; }
  .drop-down-menu li {
    display: block;
    list-style: none;
    width: 300px;
    text-align: center; }
    .drop-down-menu li a:link,
    .drop-down-menu li a:visited {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: #036596;
      background-color: #ecf0f1;
      border-bottom: 0.5px solid #0d94d8;
      border-right: 0.5px solid #0d94d8;
      border-left: 0.5px solid #0d94d8; }
    .drop-down-menu li a:hover,
    .drop-down-menu li a:active {
      background-color: #d4d7d8; }

.drop-down-btn:hover .nav-link {
  color: #036596;
  background-color: #ecf0f1; }

.drop-down-btn:hover .drop-down-menu {
  display: block; }

.nav-link:link,
.nav-link:visited {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 20px;
  display: block; }

.nav-link:hover,
.nav-link:active {
  color: #036596;
  background-color: #ecf0f1; }

header {
  background-image: linear-gradient(to right, #036596, #0d94d8);
  color: #ecf0f1; }
  header h1 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 250%;
    padding: 3.5% 0 3.5% 1%; }

.intro-section {
  color: #001a28;
  max-width: 1137px;
  padding: 0 18px;
  margin: 3% auto 0 auto;
  font-family: 'Source Sans Pro', sans-serif; }
  .intro-section p {
    line-height: 1.5;
    margin-top: 3%;
    font-size: 110%; }
    .intro-section p a:link,
    .intro-section p a:visited {
      display: inline-block;
      text-decoration: none;
      color: #0d94d8; }
    .intro-section p a:hover,
    .intro-section p a:active {
      transform-origin: 0 100%;
      transform: scale(1.75); }

.no-display {
  display: none; }

/*# sourceMappingURL=master.css.map */
