[submodule "Website Project"]
	path = Website Project
	url = https://github.com/yanstefanovich/Website-Project.git
[submodule "travel-site-project"]
	path = travel-site-project
	url = https://github.com/yanstefanovich/travel-site-project.git
