$midnightBlue:#2c3e50;
$clouds:#ecf0f1;

header{
  margin: 0;
  height: 15%;
  background-color: $midnightBlue;
}

h1{
  margin: 0;
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 250%;
  color: $clouds;
}
