.review-section{
  @include backgroundImageTinted(rgba(0,0,0,0.7),url(img/back-customers.jpg));
  @include backgroundSizeCover();
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 7.5%;

    .title{
      color: $textColor;
    }

    .comment-container{
      margin: auto;
      margin-top: 3.5%;

        blockquote{
          color: $textColor;
          font-family: 'Open Sans', sans-serif;
          font-size: 105%;
          font-style: italic;
          font-weight: 300;
          line-height: 145%;

            cite{
              display: block;
              margin-top: 7.5%;
              font-style: normal;

                img{
                  vertical-align: middle;
                  margin-right: 2.5%;
                  height: 74px;
                  border: 1px solid transparent;
                  border-radius: 50%;
                }
            }
        }
        blockquote::first-letter{
          font-size: 175%;
        }
    }
}
