.contact-section{
  margin-bottom: 3.5%;
    form{

      font-family: 'Open Sans', sans-serif;
        .label-container{
          text-align: right;
          font-size: 120%;
        }

        input[type=text],
        input[type=email],
        textarea{
          width: 70%;
          font-size: 120%;
        }
        @media only screen and (max-width: 767px){
          input[type=text],
          input[type=email],
          textarea{
            width: 100%;
          }
        }

      .submit-btn{
        text-align: center;

          input[type=submit]{
            box-shadow: none;
            display: inline-block;
            color: $textColor;
            padding: 10px 15px;
            font-size: 120%;
            border: 1px solid $buttonColor;
            border-radius: 15px;
            background-color: $buttonColor;
            transition: all 0.2s;
            margin-top: 1.5%;
            cursor: pointer;
          }
          input[type=submit]:hover{
            box-shadow: none;
            background-color: $buttonHover;
            border-color: $buttonHover;
          }
      }
    }
}
