.features-section{
  text-rendering: optimizeLegibility;
  color: #525252;
    .title{

        p{
          font-family: 'Raleway', sans-serif;
          display: block;
          font-size: 125%;
          text-align: justify, center;
          padding: 3.5% 0 5% 0;
          line-height: 175%;
        }
    }
    .icon-container{
      width: 64px;
      margin: auto;
        span{
          color: $buttonColor;
        }
    }
    .col{
        h1{
          font-family: 'Raleway', sans-serif;
          font-size: 160%;
          text-align: center;
        }

        p{
          font-family: 'Open Sans', sans-serif;
          font-size: 105%;
          text-align: center;
          color: #777;
          line-height: 150%;
        }
    }
}

.jsFeaturesWP{
  opacity: 0;
}

.jsFeaturesWP.animated{
  opacity: 1;
}
