/*  SECTIONS  */
.break {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING CONTENT  */
.row{
  max-width: 75%;
  margin: 0 auto;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.col-width-full { width: 100%; }
.col-width-3quarters { width: 74.12%; }
.col-width-2thirds { width: 65.5%; }
.col-width-half {	width: 48.25%; }
.col-width-third { width: 31%; }
.col-width-quarter { width: 22.37%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1024px){
  .row { max-width: 80%; }
}

@media only screen and (max-width: 480px) {
	.col {  margin: 5% 0 2% 0%; }

  .col-width-quarter, .col-width-third,
	.col-width-half, .col-width-2thirds,
  .col-width-3quarters, .col-width-full { width: 100%; }
}
