header{
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  @include backgroundImageTinted(rgba(0,0,0,0.75),url(img/hero-min.jpg));
  @include backgroundSizeCover();
  background-position: center;
  background-attachment: fixed;
  position: relative;

    nav{
      height: 15%;
      width: 100%;
      margin-top: 5%;
      color: $textColor;
    }

    .heading-container{
      position: absolute;
      top: 45%;
      left: 0;
      padding: 0 10%;

        h1{
          margin: 0;
          padding: 0;
          font-size: 500%;
          font-weight: 100;
          color: $textColor;
          text-align: left;
          word-spacing: 5px;
        }

        .button-nav{

            .button:link,
            .button:active{
                font-size: 150%;
                margin: 1.5% 25px 0 0;
                border-radius: 15px;
            }
        }
      }
}

.button:link,
.button:visited{
  display: inline-block;
  color: $textColor;
  padding: 10px 15px;
  border: 1px solid $buttonColor;
}

.buttonA:link,
.buttonA:visited{
  background-color: $buttonColor;
  transition: all 0.2s;
}

.buttonA:hover,
.buttonA:active{
  background-color: $buttonHover;
  border-color: $buttonHover;
}

.buttonB:link,
.buttonB:visited{
  color: $buttonColor;
  transition: all 0.2s;
}

.buttonB:hover,
.buttonB:active{
  color: $textColor;
  border-color: $buttonHover;
  background-color: $buttonHover;
}

.navigation{
  list-style: none;
  text-align: right;
  margin-right: 10%;
  position: relative;
}

span.sm-nav-btn{
  margin-top: 2%;
  padding-bottom: 1.5%;
  display: inline-block;
  color: $textColor;
  display: none;
}

.nav-buttons{
  list-style: none;
  margin-top: 2%;
    li{
      float: right;
    }

    a:link,
    a:visited{
      display: inline-block;
      color: $textColor;
      font-size: 140%;
      padding: 0 20px;
      padding-bottom: 10px;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.2s;
    }

    a:hover,
    a:active{
      border-bottom: 2px solid $buttonColor;
    }
}

.logo{
  display: inline-block;
  margin-left: 10%;
  height: 100%;
  float: left;
  vertical-align: middle;
}

.logo-white{
}

.logo-black{
  display: none;
}

.sticky-nav{
  position: fixed;
  background-color: white;
  z-index: 999;
  color: black;
  padding-top: 0;
  margin-top: 0;
  height: 10%;
  top: 0;
  border-bottom: 2px solid LightGrey;

    .navigation{
        a{
          color: black;
        }
        span{
          color: black;
        }
    }

    .logo-black{
      display: inline-block;
    }

    .logo-white{
      display: none;
    }
}

header nav .main-nav a.dropDownBtn{ display: none; }

@media only screen and (max-width: 1023px) {
  .sticky-nav{
    height: 7.5%;
  }
  header nav .main-nav a:link,
  header nav .main-nav a:visited{ font-size: 125%;}
}

@media only screen and (max-width: 865px){
  span.sm-nav-btn{
    display: block;
  }

  .nav-buttons{
    display: none;
    position: absolute;
    right: -10%;;
    top: 60%;

      li{
        background-color: white;
        float: none;
        text-align: center;
      }

      a:link,
      a:visited{
        color: black;
        margin-bottom: 5px;
        font-size: 140%;
        padding: 0 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.2s;
      }

      a:hover,
      a:active{
        border-bottom: 2px solid $buttonColor;
      }
  }
}

.drop-down:hover .nav-buttons{
  display: block;
}

@media  only screen and (max-width: 767px){
  header .heading-container h1{ font-size: 350%; }
  header .heading-container{ top: 35%; }
}

@media only screen and (max-height: 415px) {
  header .heading-container{ top: 45%; }
  header .heading-container h1{ font-size: 250%; }
}
