.plans-section{
  background-color: #f7f3ed;
  padding-bottom: 5%;

    .plan-container{
      margin-top: 3.5%;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;

        .col{
          background-color: white;
          padding: 1.5%;
            ul{
              list-style: none;
              padding-top: 2.5%;
              border-bottom: 2px solid #f7f3ed;
              padding-bottom: 2.5%;
                li{
                  font-weight: 300;
                  font-size: 110%;
                  padding: 2.5% 0 2.5% 2.5%;
                    span{
                      color: $buttonColor;
                      padding-right: 5%;
                    }
                }
            }
        }

        .plan-header{
          padding-bottom: 5%;
          border-bottom: 2px solid #f7f3ed;
            h1{
              text-rendering: optimizeLegibility;
              margin: 0;
              font-family: 'Raleway', sans-serif;
              font-weight: 100;
              font-size: 175%;
              text-transform: uppercase;
            }

            p.price{
              text-align: center;
              color: $buttonColor;

                span{
                  font-size: 350%;
                }
            }
            p.deal{
              text-align: center;
              margin-top: 1%;
            }
        }

        .btn-div{
          margin-top: 5%;
          width: 100%;
          text-align: center;

            a{
              margin: 1.5% 0;
              border-radius: 15px;
            }
        }
    }
}
