.title{
  text-align: center;
  color: #525252;
    h1{
        text-rendering: optimizeLegibility;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        display: inline-block;
        font-size: 250%;
        text-transform: uppercase;
        padding: 10% 0 3.5% 0;
        border-bottom: 2px solid $buttonHover;
    }
}
